
body {
    font-size: 0.875rem;
}

.pointer {
    cursor: pointer;
}

.th-icon {
    float: right;
    cursor: pointer;
    margin-bottom: 0;
    color: #28a745;
}

#table-form th,
.table-form th {
    background: #f8f9fa;
}

#search-wrap input {
    width: 400px;
    display: inline-block;
}
#search-wrap span {
    margin-top: -5px;
}

.page-item.active .page-link {
    color: black !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
}

.page-item2.active .page-link {
    color: black !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
}

.mw-400 {
    max-width: 400px;
}
.mw-500 {
    max-width: 500px;
}

.fs-14 {
    font-size: 14px;
}
.fs-13 {
    font-size: 13px;
}
.fs-12 {
    font-size: 12px;
}

table th,
table td {
    vertical-align: middle !important;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.inner_item li {
    list-style: none;
}
.no_open_color {
    color: #ddd !important;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px;
    }

    .productWrap-titleWrap {
        padding-bottom: 22px;
    }
}
.pc-none {
    /* display: block; */
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }

    .pc-none {
        display: none;
    }

    .fs-xl-14 {
        font-size: 14px;
    }
    .fs-xl-13 {
        font-size: 13px;
    }
    .fs-xl-12 {
        font-size: 12px;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.page-link {
    border-radius: 0 !important;
}

.view_ab {
    position: relative;
    z-index: 1;
}
.normal_btn {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #dee2e6 !important;
    font-size: 13px;
    cursor: pointer;
    background: white;
    text-align: center;
    display: inline-block;
}
.normal_btn_dark {
    padding-left: 1rem;
    cursor: pointer;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #dee2e6 !important;
    font-size: 13px;
    background: #000;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.text_2_line {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c4c4c4;
    font-size: 20px;
}
.fs-11 {
    font-size: 11px;
}
.cart_ff_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.table_div {
    overflow-x: auto;
}
.table_div .table {
    min-width: 600px;
}
.more_view {
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 3px 10px;
    padding-bottom: 1px;
    cursor: pointer;
}

.more_view span {
    font-size: 10px;
    margin-left: 3px;
}
.f-17 {
    font-size: 17px !important;
}
.sub_mypage_menu_div div.on {
    font-weight: bold;
    color: #000;
}
.page-title {
    padding-top: 2rem;
}
#review-popup .slick-dots li button:before {
    color: #fff !important;
}

.lg-download {
    display: none !important;
}
/* 마크 */
@media (max-width: 769px) {
    .close_btn {
        position: absolute;
        top: 2px;
    }
    .cart_ff_wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .no-product{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
}

.table-no-border td{
    border: none;
}

.table-no-border tr{
    border-bottom: 1px solid lightgray;
}

.tag {
    padding: 1px 7px;
    border-radius: 10px;
    background: dimgray;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
}
.tag.answer{
    background: mediumseagreen;
    margin-left: 5px;
}

@media (max-width: 769px){
    .mt-80{
        margin-top: 80px;
    }
}
